@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body {
    background: url(../images/js.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }
main {
    background-color: #0008;
    border-radius: 1rem;
    height: 670px;
    width: 32rem;
}
header h1 {
    /*background-color: #ffffff66;
    border-bottom: 4px solid #d47a12;*/
    color: #f1ce3f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}
header h1 a:link,
header h1 a:visited {
    display: flex;
    color: #f1ce3f;
    position: absolute;
    left: 1rem;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}
header h1 a:hover {
    transform: translateX(-4px);
}
header h1 a svg {
    height: 2.5rem;
    width: 2.5rem;
}
nav {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    overflow-y: auto;
    height: 490px;
    gap: 0.4rem;
}
nav li {
    list-style: none;
}
nav li a:link,
nav li a:visited {
    background-color: #0003;
    border-radius: 2rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding: 0.2rem;
    transition: all 0.2s ease-in;
}
nav li a i {
    background-color: #bbe175;
    border-radius: 2rem;
    color: #0009;
    padding: 0.6rem;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    margin-right: 0.8rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    transition: all 0.2s 0.2s ease-in;

}
nav li a:hover {
    background-color: #0009;
}
nav li a:hover i {
    color: #fff;
    transform: scale(1.05);
}

section {
    color: #0003;
    padding: 1.2rem;
}
section h1,
section h2 {
    color: #f1ce3f99;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px dashed #f1ce3f99;
}